*{
	box-sizing: border-box;
}

/* HEADER */

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #AA219D;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list{
	background-color: #99219D;
}

#nav-list a{
	color : #23419D;
	font-size: 1.5em;
	text-align: center;
}
/*HEADER ENDS*/
/************************************/

/*BODY*/
h2{
	margin-bottom: 15px;
}

#chicken-box{
	background-color: #AAA;
	color: #333;
	margin-bottom: 15px;
	padding-left: 10px;
	width: 100%;
}

#chicken-box > h3{
	text-align: center;
} 
@media (max-width: 768px) {
	.container #chicken-box #inside-box{
		width:570px;
		background-color: #111;
	}
}